.bodyClass {
    background: url(../images/Latte_and_dark_coffee.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    padding: 20px 20px 20px 20px;
}
.section-center {
    justify-content: center;
    float: left;
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
}
#img1 {
    width: 20%;
    height: 100px;
}
img{
    width: 100%;
    height: 160px;
}
.item {
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    display: inline-block;
    width: 20%;
    margin-bottom: 20px;
    cursor: pointer;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(81, 77, 77);
    border-image: initial;
    background: rgba(255, 255, 255, 0.38);
}
.search {
    float: right;
    top: 0px;
}
button {
    appearance: auto;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
.click {
    width: 260px;
    background-color: rgba(255, 255, 255, 0.443);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 5px 10px;
}