.bodyClass{
    background: url(../images/Latte_and_dark_coffee.jpg)  ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;}


    #img1{
        width: 20%;
        height: 100px;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        background-color: #fff;
      
    }
    
    td,
    th {
        border: 1px solid  #f2f2f2;
        text-align: center;
        padding: 8px;
      
    }
    
    tr:nth-child(even) {
        background-color:  #f2f2f2;
    }
    h1{
        text-align: center;
        color: floralwhite;
        font-size: 40px;
    }
    
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      
      input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      }
      
      .div {
        width: 50%;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        margin: auto;
      }
    
     img{
      width: 50px;
      height: 50px;
     }
    
     .main-section {
      margin-top: 20px;
      text-align: center;
    
    }
    
    .item {
      display: inline-block;
      width: 20%;
      background: #D6CFC9;
      margin-bottom: 20px;
      cursor: pointer;
    }
    
    .item-image {
      width: 100%;
      height: 200px;
      display: block;
    }