.bodyClass{
    background: url(images/Latte_and_dark_coffee.jpg)  ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;}


    #img1{
        width: 20%;
        height: 100px;
    }